body{
    background-color: rgb(25, 28, 31);
    color: white;
}


.contenidoraiz{
    margin:0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    min-height: 100vh;
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(22, 22, 22);
    text-align: center;
}
.contenidoraizforms{
    margin:0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    min-height: 100vh;
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(22, 22, 22);
}
.vercookie{
    margin-top: 2.5%;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.texto{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.textoform{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

img{
    width: 70%;
    margin-bottom: 5%;
}

.formulario{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.form-control{
    margin-top: 5%;
    margin-bottom: 5%;
}
